body{
   display: flex; 
}
div#area{
    
    font: normal 20pt Arial;
    color:aliceblue;
    background-color: rgb(0, 90, 90);
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    

}